body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
}

.register-container {
    display: grid;
    place-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #000;
}

form {
    display: grid;
    place-items: center;
    flex-direction: column;
}

label {
    margin: 2px;
    color: #555;
}

input {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 0.5px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #45a049 !important;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: -7px;
}

button:hover {
    background-color: #317134 !important;
}

.register-message {
    text-align: center;
    padding-bottom: -10px;
}

.back-to-text {
    margin-top: -10px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .register-container {
        width: 80%
    }
}